.MapWrapper {
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  flex-grow: 1;
  flex-basis: 0;
}

.SegmentLabel {
  font-weight: bold;
  background: rgba(255,255,255,0.9);
  border: 1px dashed #ccc;
  padding: 5px;
  transform: translate(-50%, -100%);
}

.TrajectoryLegendContainer {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  margin: 16px;
  padding: 5px;
  width: 140px;
  box-sizing: border-box;
}

.Divider {
  margin: 10px 0;
}

.Legend {
  font-size: 18px;
  font-weight: bold;
}
.LegendTitle {
  font-size: 14px;
  font-weight: 500;
  margin: 5px 0;
}
.LegendTitle:not(:first-child) {
  margin-top: 10px;
}
.LegendItem {
  font-size: 13px;
  margin: 2px 0;
}

.SelectedSegmentLegend,
.NotSelectedSegmentLegend,
.MeanTrajectoryLegend,
.InterpolationLegend,
.ATrajectoryLegend {
  padding: 2px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

.SelectedSegmentLegend {
  background-color: #ff0;
}
.MeanTrajectoryLegend {
  background-color: green;
}
.ATrajectoryLegend {
  background-color: black;
}
.InterpolationLegend {
  background-color: red;
}

